<div class="row myrow justify-content-center">
  <h1 class="justify-content-center">
    <span>Qui somme nous ?</span>
  </h1></div>
<div class="row myrow justify-content-center">
  <div class="col-md-6">
    <p class="text-center">GSTOREPLUS- IMMOBILIER SARL, légalement constituée depuis 2018 à Abidjan,
      Côte d’Ivoire et reconnue sous le N° RC CI-ABJ-2018-B-25870, dont le siège social est
      aux 2 Plateaux Vallon, non loin de la banque Ecobank.
      Diverses activités sont au menu de notre existence principalement dans le domaine
      immobilier de manière générale dont la promotion immobilière ainsi que des
      programmes de lotissement et d’aménagement foncier.</p>
  </div>

</div>

<!--Notre vision-->
<div class="row justify-content-center">

<div class="col-md-4 text-center">
  <div>
    <span class="mobileVision"><img src="./assets/images/icon-background.png" class="img-fluid pb-2" alt=""></span>
    <div>
      <h3 class="Titrepropos">Notre mission</h3>
      <p style="color:#929292 !important;font-size: 14px;line-height: 1.8;">Nous concevons et réalisons des projets de développement à travers des différents
        programmes dans l’immobilier de manière générale. C’est entre autre des
        promotions immobilières personnalisé ou pour des mutuelles, syndicats,
        associations et ménages, ainsi que des programmes de lotissement et aménagement
        foncier.
        .</p>
    </div>
  </div>
</div>
<!--notre vision-->
<div class="col-md-4 text-center">
  <div>
    <span class="mobileVision"><img src="./assets/images/icon-mission.png" class="img-fluid pb-2" alt=""></span>
    <div>
      <h3 class="Titrepropos">Notre objectif</h3>
      <p style="color:#929292 !important;font-size: 14px;line-height: 1.8;">Il se résume en la volonté manifeste de permettre à un maximum de personnes
        d’acquérir un terrain soit comme produit d’investissement aux fins de principe
        d’amélioration des conditions de vie soit comme un support de construction.
        Etre parmi les partenaires leaders au développement de la Côte d’Ivoire sinon en être
        l’icône de par nos programmes conçus pour contribuer à l’épanouissement de nos
        semblables et notre vision alliant le social au business.
        </p>
    </div>
  </div>
</div>
  </div>

<div class="row justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-6">

        <span class="mobileVision"><img src="./assets/images/icon-mission.png" class="img-fluid pb-2" alt=""></span>
        <div>
          <h3 class="Titrepropos" style="text-align: center">Notre valeur ajoutee</h3>
          <p style="color:#929292 !important;font-size: 14px;line-height: 1.8;">Il se résume en la volonté manifeste de permettre à un maximum de personnes
            d’acquérir un terrain soit comme produit d’investissement aux fins de principe
            d’amélioration des conditions de vie soit comme un support de construction.
            Etre parmi les partenaires leaders au développement de la Côte d’Ivoire sinon en être
            l’icône de par nos programmes conçus pour contribuer à l’épanouissement de nos
            semblables et notre vision alliant le social au business.
          </p>
        </div>

    </div>
  </div>
  <ul class="col-md-6">
    <li>
      <span style="font-weight: bold; color: #191919;font-size: 20px;">Nous sommes des professionnels </span>
    </li>
    <p>Une équipe d’expert dans la conception, le suivi et la réalisation
      de différents projets de développement. </p>
    <p>Nous gérons tous nos programmes en organisant, dirigeant des
      personnes de valeur et avec une technologie de pointe de dernière
      génération. </p>
    <li>

      <span style="font-weight: bold; color: #191919;font-size: 20px;">Une expertise diversifiée et maitrisée </span>

    </li>
    <p>Nous offrons des services de conception de programme selon le
      besoin du moment, des programmes bien structurés. Notre
      expertise part de la conception à la construction de logements
      dans nouveaux lotissements et à l’aménagement de terrains nus. </p>

    <li>
      <span style="font-weight: bold; color: #191919;font-size: 20px;">La satisfaction du client au cœur de notre activité </span>
    </li>
    <p>Nos différents programmes visent à créer un cadre de vie sain,
      toujours préoccuper par l’épanouissement de nos semblables.
      Notre clientèle est le centre de toutes nos actions. L’amour vrai
      crée de l’amitié, d’où <strong>GSTOREPLUS-IMMOBILIER SARL</strong>, un ami
      plus qu’un partenaire. .</p>



  </ul>
</div>
