<div class="row myrow justify-content-center">
  <h1 class="justify-content-center">
    <span>Qui somme nous ?</span>
  </h1></div>
<div class="row myrow justify-content-center">
  <div class="col-md-8">
    <p class="text-center">Après plusieurs constats dans le domaine foncier en Cote d’Ivoire, nous avons décidé de redonner le sourire à tous ceux qui désirent être propriétaire d’un bien foncier (terrain).</p>
    <p class="text-center"> Avec une équipe composée d’experts interdisciplinaires : <strong>Ingénieur technicien foncier, urbanistes, géomaticiens, développeurs et juristes</strong>  ayants de solides expériences dans le secteur du foncier et de l’immobilier pour répondre et satisfaire tous besoins.</p>
  </div>

</div>
<div class="row justify-content-center">
  <ul class="col-md-6">
    <li>
      <span style="font-weight: bold; color: #191919;font-size: 20px;">Nous sommes des professionnels </span>
    </li>
    <p>Une équipe d’expert dans la conception, le suivi et la réalisation
      de différents projets de développement. </p>
    <p>Nous gérons tous nos programmes en organisant, dirigeant des
      personnes de valeur et avec une technologie de pointe de dernière
      génération. </p>
    <li>

      <span style="font-weight: bold; color: #191919;font-size: 20px;">Une expertise diversifiée et maitrisée </span>

    </li>
    <p>Nous offrons des services de conception de programme selon le
      besoin du moment, des programmes bien structurés. Notre
      expertise part de la conception à la construction de logements
      dans nouveaux lotissements et à l’aménagement de terrains nus. </p>

    <li>
      <span style="font-weight: bold; color: #191919;font-size: 20px;">La satisfaction du client au cœur de notre activité </span>
    </li>
    <p>Nos différents programmes visent à créer un cadre de vie sain,
      toujours préoccuper par l’épanouissement de nos semblables.
      Notre clientèle est le centre de toutes nos actions. L’amour vrai
      crée de l’amitié, d’où <strong>GSTOREPLUS-IMMOBILIER SARL</strong>, un ami
      plus qu’un partenaire. .</p>



  </ul>
</div>
