<div class="row myrow justify-content-center">
  <h1 class="justify-content-center">
    <span>Investir dans l’immobilier</span>
  </h1></div>
<div class="row myrow justify-content-center">
  <div class="col-md-8">
    <p class="text-center">Le marché IMMOBILIER en Côte d’Ivoire est propice à l’investissement avec un rendement de près de 10% par an. </p>
    <p class="text-center">Gstoreplus vous proposed’investir dans des projets neufs sur mesure, étudiés selon les besoins du marché actuel et la localisation géographique des sites.</p>
  </div>

</div>
<div class="row justify-content-center">
  <ul class="col-md-6">
    <li>
      <span style="font-weight: bold; color: #d32f2f;font-size: 23px;">1. « Projets de Construction individuel »</span>
    </li>
    <p>Vous êtes propriétaire d’un terrain nu et souhaiter le valoriser en construisant? Gstoreplus conçoit pour vous le projet le plus adapté à vos souhaits et à votre budget, réalise une expertise commerciale fiable pour déterminer le rendement locatif et vous accompagne jusqu’à l’obtention du financement de votre projet de construction.</p>
    <li>

      <span style="font-weight: bold; color: #d32f2f;font-size: 23px;">  2. « Investir dans une promotion immobilière »</span>

    </li>
    <p>Vous souhaitez investir dans une promotion immobilière avec un court délai de livraison? Nous vous proposons à la vente des biens achevés et loués (avec rendement locatif immédiat) ou en cours de finitions (disponibles à court terme).</p>
    <li>
      <span style="font-weight: bold; color: #d32f2f;font-size: 23px;">  3.«Investir dans un projet foncier du lotissement jusqu’à la viabilisation»</span>
    </li>
    <p>Vous souhaitez acquérir un logement neuf en VEFA (vente en Etat Future d’Achèvement)? Nous vous proposons plusieurs projets en développement destinés à la vente. Nous vous accompagnons tout au long du processus de sélection et achat de votre future propriété et suivons votre dossier jusqu’à la livraison clef en main de votre bien.</p>
    <li>
      <span style="font-weight: bold; color: #d32f2f;font-size: 23px;"> 4. « Investir dans un projet de construction »
</span>

    </li>
    <p>Vous souhaitez participer au financement d’un projet immobilier ambitieux? Nous identifions pour vous des projets dans lesquels vous pouvez investir. Nous calculons pour vous le rendement du projet en fonction du montant de votre investissement et restons votre intermédiaire jusqu’à la finalisation de la construction.</p>
  </ul>
</div>

