<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 pt-5">
        <div class="text-center">
          <h1 class="font-weight-bold text-uppercase" style="color: white;">restez connectés</h1>
        </div>
        <div class="text-center pt-5" style="font-size: 3rem;">
          <a href="" style="color: #fff !important;"><i style="margin-right: 23px;" class="fa fa-twitter"></i></a>
          <a href="" style="color: #fff !important;"><i style="margin-right: 23px;" class="fa fa-instagram"></i></a>
          <a href="" style="color: #fff !important;"><i style="margin-right: 23px;" class="fa fa-facebook"></i></a>
        </div>
        <div class="text-center pt-5" style="font-size: 1rem;">
          <i class="fa fa-envelope" style="color: #fff !important;margin-right: 23px;">
            <a href="" style="color: #fff !important;margin-left: 8px;">info@groupgstoreplus.com</a>
          </i>
          <i class="fa fa-phone" style="color: #fff !important;margin-right: 23px;">
            <a href="" style="color: #fff !important;margin-left: 8px;">Tel:(+225) 22 00 99 29</a>
          </i>
          <i class="fa fa-home" style="color: #fff !important;margin-right: 23px;">
            <a href="" style="color: #fff !important;margin-left: 8px;">Cote d'Ivoire</a>
          </i>
        </div>
        <hr>
        <div class="text-center pt-5" style="font-size: 1rem;color: #fff !important;">
          <p>Tous droits réservés. Reproduction interdite sans l’autorisation de l’auteur &copy; 2020 GOUPE GSTORESTOREPLUS</p>
        </div>
        <div class="text-center" style="padding-top: 10px;">
          <p style="color: #fff !important;">Design by <a href="" style="color: #fff !important;">GOUPE GSTORESTOREPLUS</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
