.grande{
  background-color: #0e0d0d;

}
.grande .col-md-4 img {
  height: 6rem;
}
.grande h6{

  color: white;
  font-size: 12px;
}
.list li {
  color: white;
  font-size: 12px;
  line-height: 36px;

}
span img {
  height: 20px;
  margin-left: 8px;
}
.paiement p {
  color: white;
  font-size: 0.875rem;
  padding-top: 10px;
}
.copyright{
  background-color: black;
}
.copyright p {
  color: white;
  font-size: 0.875rem;
}
.copyright .text {
  font-size: 0.715rem;
  color: #131313;
  text-align: end;
}
