<div class="container">
<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
  <div class="container">
    <h1 style="text-align: center;color: white;padding: 60px;padding-top: 80px;">Contacts</h1>
  </div>
</div>
<br><br>


  <div class="row">
    <div class="offset-md-2 col-md-8" style="text-align: center;">
      <h4 style="color: #d50000"> <strong>GSTORE PLUS SARL.</strong> Pour tous vos problèmes terrains et de logements, contactez nous.</h4>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <span><i style="color: #ef4945;" class="fa fa-phone mt-4 fa-2x"></i></span>
        <h5 style="font-weight: bold;color: #ef4945;">Telephone</h5>
        <p><a href="tel:+2252723590439" class="font-size-2 d-block link-black-100">(+225) 27 23 59 04 39</a></p><hr>
      </div>
      <div class="text-center">
        <span><i style="color: #ef4945;" class="fa fa-map-marker fa-2x"></i></span>
        <h5 style="font-weight: bold;color: #ef4945;">Adresse</h5>

        <p>Abidjan Cocody - Cité des arts rue Marcelin yacé - immeuble C face à l'école EDHEG <br>
          3ème étage porte 2 <br>
          25 BP 1323 Abidjan 25</p><hr>
      </div>
      <div class="text-center">
        <span><i style="color: #ef4945;" class="fa fa-envelope fa-2x"></i></span>
        <h5 style="font-weight: bold;color: #ef4945;">Email</h5>
        <p><a href="mailto:info@gstoreplus.ci" class="font-size-2 d-block link-black-100 mb-1">info@gstoreplus.ci</a></p><hr>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-5 mb-5">
        <form class="formulaire">
          <div class="form-group">
            <input type="text" class="form-control" id="prenom" placeholder="Votre prénom et nom ">
          </div><br>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email : xxx@gmail.hhh">
          </div><br>
          <div class="form-group">
            <input type="text" class="form-control" id="objet" placeholder="L'objet du mail">
          </div><br>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" id="message" placeholder="Votre message" rows="3"></textarea>
          </div><br>

          <div class="d-flex justify-content-center  login_container">
            <button [disabled]="loading" class="btn btn-primary" type="submit" name="button" class="btn login_btn" (click)="envoyer()">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Soumettre
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><br><br>
<div id="scroll_to_top">
  <a href="#top"><img src="./assets/Images/scrolltop.png" alt="Retourner en haut" /></a>
</div>



