<div class="container justify-content-center">
<mat-card class="example-card  ">
  <mat-card-header>
    <mat-card-title>Bienvenue sur la platform de Gstoreplus</mat-card-title>
    <mat-card-subtitle>Cliquez sur valider pour que vous soyez activé</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{code}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <button mat-button type="submit" (click)="onClick()">Valider</button>
  </mat-card-actions>
</mat-card>
</div>
