<div class="container">
  <div class="card login-card">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="card-body justify-content-center text1">
          <h1 class="text-description">Cliquez sur valider pour que vous soyez activé</h1>
          <p><span class="justify-content-center" >{{code}}</span></p>
          <div class="example-button-row">
              <button mat-button color="primary" type="submit" (click)="onClick()">Valider</button>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
