
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card" style="text-align: center;" >
        <div class="card-header">
          <mat-card-title style="font-size: 14px">Connexion</mat-card-title>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" novalidate *ngIf="loginForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Adresse mail" formControlName="email"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">l'adresse mail est obligatoire</div>
              </div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
              </div>

            </div>
            <div class="col text-right">
              <a (click)="passeOublie()" style="font-style: italic; color: #1a237e;font-size: 10px">Mot de Passe oublié ?</a>
            </div>
            <div class="d-flex justify-content-center  login_container">
              <button [disabled]="loading" class="btn btn-primary" type="submit" name="button" class="btn login_btn">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Se connecter
              </button>
            </div>
            <div *ngIf="error" class="btn login_btn">{{error}}</div>
          </form>
          <p style="position: relative; top:80px; font-style: italic; color: blue">
            Ou créez un compte si vous n'en avez pas. <a routerLink="/registry">ici</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
