.iconedroit{
  border-radius:50%;
  border:1px solid #d50000;
  font-size: 40px;
  color: #d50000;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
}
h3{
  font-size: 12px;
  color: black;
}
p{
  font-size: 12px;
  color: black;
}
h6 {
  font-size: 12px !important;
  color: #d50000;
}
 span {
  font-size: 12px !important;
   color: black;
}
.iconedroit:hover{
  color: white;
  border: 1px solid white;
  background-color: #d50000;
  color: black;
}
.iconedroit  i{
  background-color: #d50000;
}
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
}
