<div class="container-fluid pt-4 pb-4 cadreAnnonce">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div>
        <h4 class="font-weight-bold pt-4" style="font-size: 18px;letter-spacing: 1px;">Le Monde</h4>
      <div class="row pt-3">
        <div class="col-md-3">
          <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div>
            <a href="#">
              <h5 class="titreActualite">Pour elles</h5>
            </a>
            <span class="text-muted">Gala.fr</span><br>
            <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
            <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-3">
          <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div>
            <a href="#">
              <h5 class="titreActualite">Pour elles</h5>
            </a>
            <span class="text-muted">Gala.fr</span><br>
            <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
            <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-3">
          <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div>
            <a href="#">
              <h5 class="titreActualite">Pour elles</h5>
            </a>
            <span class="text-muted">Gala.fr</span><br>
            <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
            <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-3">
          <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div>
            <a href="#">
              <h5 class="titreActualite">Pour elles</h5>
            </a>
            <span class="text-muted">Gala.fr</span><br>
            <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
            <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
          </div>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-3">
          <img src="./assets/images/59af5501bfadb5fa76d1275abb09db32.jpg" style="border-radius: 10px;" class="img-fluid">
        </div>
        <div class="col-md-9">
          <div>
            <a href="#">
              <h5 class="titreActualite">Pour elles</h5>
            </a>
            <span class="text-muted">Gala.fr</span><br>
            <span style="font-weight: bold; color: #333;font-size: 23px;">Constance Debré : la descente aux enfers de ses parents</span>
            <p>Nièce de Bernard et de Jean-Louis Debré, Constance Debré s'est forgée auprès de parents accros à la drogue. Brillante avocate devenue écrivaine, elle a longtemps souffert des addictions de François Debré et de Maylis Ybarnegaray.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
