<div class="container">
  <div class="row">
    <div class="col-md-7" style="padding-left: 0px;padding-right: 0px;">
      <div class="cadre-image img-fluid">
        <span class="mask"></span>
        <p class="titre">Make it simple, but <br><span>significant Lottery Display</span></p>
      </div>
    </div>
    <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
      <div class="card-body">
        <div class="card-login">
          <div class="text-right forgot">
            <p><span style="color: #777777;font-size: 0.875rem;">Vous avez deja un compte ? </span><a class="loginText" routerLink="/login">Login</a></p>
          </div>
          <p class="font-weight-bold">Créer un compte</p>
          <form class="pt-3" [formGroup]="registryForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nom </label>
              <input type="nom" formControlName="nom" class="form-control inputLogin" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label> Prénom</label>
              <input type="prenom" formControlName="prenom" class="form-control inputLogin" aria-describedby="emailHelp">
            </div>
            <div class="form-group" formGroupName="adresse">
              <label>Téléphone</label>
              <input type="telephone" formControlName="telephone" class="form-control inputLogin" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control inputLogin" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password" formControlName="password" class="form-control inputLogin">
            </div>
            <div class="form-group">
              <label>Confirm password</label>
              <input type="password" formControlName="password" class="form-control inputLogin" aria-describedby="emailHelp">
            </div>
            <div class="text-center pt-3">
              <button type="submit" class="btn btn-primary btnValider">Connexion</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

