<div class="container">
<!--<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
  &lt;!&ndash;<div class="container">
    <h1 style="text-align: center;color: white;">Connexion</h1>
  </div>&ndash;&gt;
</div>--><br><br>
  <div class="row">
    <div class="col-md-12">
      <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-md-8">
                <form [formGroup]="connexionForm"  (ngSubmit)="onSubmit()" class="bg-white rounded shadow-5-strong p-5">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input name="" class="form-control" placeholder="Login" formControlName="login" type="text"
                           [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
                    <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                      <div *ngIf="f.login.errors.required">l'adresse mail est obligatoire</div>
                    </div>
                  </div>

                  <!-- Password input -->
                  <div class="input-group mb-2 mr-sm-2">
                    <input name="" class="form-control" placeholder="Password" [type]="hide ? 'password' : 'text'"  formControlName="password"
                           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
                    </div>

                  </div>

                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                      <!-- Checkbox -->

                    </div>


                    <div class="col text-center">
                      <!-- Simple link -->
                      <a (click)="passeOublie()">Mot de Passe oublié ?</a>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div style="text-align: center;">
                    <button [disabled]="loading" type="submit" class="btn btn-block" style="background-color: #302244;color: white;">
                      <span  *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Se connecter</button>
                    <p style="position: relative; font-style: italic; color: blue">
                      Ou créez un compte si vous n'en avez pas. <a routerLink="/registry">ici</a></p>
                  </div>

                  <div *ngIf="error" class="btn login_btn">{{error}}</div>

                </form>
                <div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br><br>


