
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/slide1.jpg" class="d-block w-100" style="background-size: cover;" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>Titre 1</h1>
            <p>Some representative placeholder content for the third slide.</p>
            <a routerLink="" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slide2.jpg" class="d-block w-100" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>Titre 2</h1>
            <p>Some representative placeholder content for the third slide.</p>
            <a routerLink="" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/slide3.jpg" class="d-block w-100" height="500"alt="...">
        <div class="carousel-caption d-none d-md-block mb-5">
            <h1>Titre 3</h1>
            <p>Some representative placeholder content for the third slide.</p>
            <a routerLink="" class="btn btn-danger">Cliquez ici</a>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br><br><br>


 <div class="container">
     <div class="row">
        <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Nos valeurs</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a natus maxime autem optio dolor perspiciatis corrupti minima rerum harum quos placeat.</p>
        </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa fa-handshake-o" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Notre Objectif</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a natus maxime autem optio dolor perspiciatis corrupti minima rerum harum quos placeat.</p>
            </div>
        </div>
          <div class="col-md-6 col-lg-4">
            <div style="text-align: center;">
                <span><i class="fa fa-check" aria-hidden="true" style="font-size: 50px;color: red;"></i></span>
                <h4>Notre slogan</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a natus maxime autem optio dolor perspiciatis corrupti minima rerum harum quos placeat.</p>
            </div>
        </div>
     </div>
 </div><br><br><br><br>


 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;font-weight: bold;">
               <span style="text-transform: uppercase;color: red;">Foncier</span>
               <h3>Nos Services Foncier</h3>
           </div>
        </div>
    </div>
</div>
<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-left"></i></span>
      </button>
      <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-right"></i></span>
      </button>
    </div>

    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Détail</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Détail</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a routerLink="/page-detail" class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a routerLink="/page-detail" class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.Second slide-->
    </div>
  </div>
</div><br><br>


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div style="text-align: center;font-weight: bold;">
             <span style="text-transform: uppercase;color: red;">Terrains</span>
             <h3>Nos Différents Terrains</h3>
         </div>
      </div>
  </div>
</div>
<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example1"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-left"></i></span>
        </button>
        <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example1"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-right"></i></span>
        </button>
    </div>

    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#multi-item-example1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#multi-item-example1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#multi-item-example1" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a routerLink="/page-detail" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.Second slide-->
    </div>
  </div>
</div><br><br>


<div class="jumbotron jumbotron-fluid" style="background: linear-gradient(to bottom left, #302244 0%, #ffffff 105%);">
  <div class="container">
    <h1 class="display-4" style="text-align: center;color: white;padding: 60px;">Publicité image</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>
</div><br><br><br>


<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div style="text-align: center;font-weight: bold;">
             <span style="text-transform: uppercase;color: red;">Maisons</span>
             <h3>Nos Différentes Maisons</h3>
         </div>
      </div>
  </div>
</div>
<div class="container my-4">
  <!--Carousel Wrapper-->
  <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example2"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-left"></i></span>
        </button>
        <button class="btn btn-danger btn-sm" type="button" data-bs-target="#multi-item-example2"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"><i class="fa fa-chevron-right"></i></span>
        </button>
    </div>

    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#multi-item-example2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#multi-item-example2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#multi-item-example2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home2.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
            <div class="card mb-2">
              <img class="card-img-top" src="../../assets/img/home1.jpeg"
                   alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/img/home2.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                  <a class="btn btn-primary">Button</a>
                </div>
              </div>
            </div>
        </div>

      </div>
      <!--/.Second slide-->
    </div>
  </div>
</div><br><br>

